.projects-section {
    padding: 40px 0px;
    background-color: #1c2545;
    text-align: center;
}

.projects-section h1 {
    font-size: 45px;
    padding: 20px;
    color: #36e9fd;
    font-family: 'Montserrat', sans-serif;
}


.projects-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    justify-content: center;  
    align-items: start;
    max-width: 900px;
    margin: 0 auto;

}

.projects-card {
    width: 400px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.projects-card img {
    width: 100%;
    height: 200px;
    border: 1px solid white;

}

.projects-title {
    font-size: 14px;  
    font-weight: bold;
    text-align: left;
    padding-top: 10px ;
    padding-bottom: 10px;
    color: #36e9fd;
}

.projects-tech {
    font-size: 12px; 
    text-align: left;
    padding-bottom: 10px;
}

.projects-repositories {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.button-projects, .button-repositories {
    color: white;
    background-color: #206e95;
    font-size: 12px; 
    font-weight: bold;
    height: 30px;
    width: 50%;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}


.button-projects:hover, .button-repositories:hover {
    background-color: #36e9fd;   
    color: black 
}



/* Responsividade para Tablets (menor que 780px) */
@media (max-width: 780px) {
    .projects-cards {
        display: flex;
        flex-wrap: wrap;
    }

    .projects-title {
        font-size: 16px;
    }

    .projects-tech {
        font-size: 14px;
    }
}

/* Responsividade para Celulares (menor que 480px) */
@media (max-width: 480px) {
    .projects-cards {
        display: flex;
        flex-wrap: wrap;
    }
    .projects-title {
        font-size: 14px;
    }

    .projects-tech {
        font-size: 12px;
    }

    .button-projects, .button-repositories {
        font-size: 10px;
        height: 25px;
    }
}