
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    padding-left: 100px;
    background-color: #1c2545;

}

.menu-left {
    color: #36e9fd;
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.menu-right {
    display: flex;
    gap: 60px;
    font-size: 18px;
    list-style: none;
}

.menu-right li {
    text-decoration: none;
    list-style: none;
    font-weight: bold;
}

.menu-right li a:hover {
    color: #36e9fd;
    border-radius: 10px;
    padding: 10px 1px;
    text-decoration: none;
    list-style: none;
    font-weight: bold;
    transition: color 0.3s ease;

}

.menu-right a {
    text-decoration: none;
    color: white;
}