
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px ;
    background-color: #1c2545;

}

.menu-left {
    color: #36e9fd;
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.menu-right {
    display: flex;
    gap: 40px;
    font-size: 18px;
    list-style: none;
}


.menu-right li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.5s ease;
}

.menu-right li a:hover {
    color: #36e9fd;
}


.hamburger {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

/* Tablet e Mobile (até 768px) */
@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .menu-left {
        font-size: 18px;
    }

    .menu-right {
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background: #1c2545;
        width: 200px;
        padding: 10px;
        font-size: 16px;
    }


    .menu-right.open {
        display: flex; 
    }

    .menu-right li {
        padding: 10px 0;
        text-align: center;
    }

    .menu-right li:hover {
        padding: 10px 0;
        text-align: center;
    }

    .about-contact {
        padding: 0px 50px;
    }
}