.about-section {
    padding-top: 40px;
    background-color: #1c2545;
    text-align: center;
}

.about-section h1 {
    font-size: 45px;
    padding: 20px;
    color: #36e9fd;
    font-family: 'Montserrat', sans-serif;
}

.about-section .about-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    padding: 20px 0px;
    line-height: 1.8;
}

.about-text {
    background-color: #206e95;
    margin-bottom: 30px;
    width: 800px;
    text-align: center;
    margin: 0 auto;
}


.about-section .about-graduate {
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    padding-top: 30px;
    line-height: 20px;
}

.about-graduate span {
    font-weight: bold;
    
}

.about-contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 100px;
    gap: 60px;
    margin-top: 50px;   
}

.about-contact-image img {
    height: 150px;
    display: block;
    margin: 0 auto;
}

.about-contact-item h3 {
    padding: 20px 0px 10px 0px;
}

.about-contact-item img {
    width: 50px;
}

.about-contact-item a {
    text-decoration: none;
}

/* Tablet - Menor que 780px */
@media (max-width: 780px) {
    .about-section h1 {
        font-size: 40px; 
    }

    .about-section .about-text {
        font-size: 22px; 
        width: 90%; /
    }

    .about-contact {
        flex-direction: row;
    }

    .about-contact-image img {
        height: 120px;
    }

    .about-contact-item h3 {
        font-size: 18px;
    }

    .about-graduate {
        font-size: 16px;
    }
}

/* Dispositivos Móveis - Menor de 480px */
@media (max-width: 480px) {
    .about-section h1 {
        font-size: 32px; 
    }

    .about-section .about-text {
        font-size: 14px;
        width: 90%; 
    }

    .about-contact {
        flex-direction: column;
        gap: 30px;
    }

    .about-contact-image img {
        height: 100px;
    }

    .about-contact-item h3 {
        font-size: 16px;
    }

    .about-contact-item img {
        width: 40px;
    }

    .about-graduate {
        font-size: 14px;
    }
}