.initial-section {
    display: flex;
    align-items: center;
    height: 100vh; 
    padding-left: 100px;
    background-image: url('../../assets/images/initial-background3.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.text-container {
    text-align: left;   
}

.bot-icon {
    width: 50px;
    margin-bottom: 20px;
}


.text-container p {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.text-container h1 {
    font-size: 80px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #36e9fd;
    line-height: 1.1;
    margin: 10px 0;
}

.text-container h2 {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
}


.initial-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 150px;
    height: 40px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: #0040a0;
    color: white;
    cursor: pointer;
    margin-top: 30px;
  }

.initial-button:hover {
    background-color: #36e9fd;
}

.button-text {
    font-size: 14px;
    font-weight: bold;
}

.button-arrow {
    width: 30px;
    height: 30px;
}


@media (max-width: 768px) {
    .initial-section {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding-left: 20px;
      }

      .text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .bot-icon {
        width: 40px;
      }

      .text-container h1 {
        font-size: 60px;
      }


  .text-container h2 {
    font-size: 30px;
  }

  .initial-button {
    width: 130px;
    height: 35px;
    gap: 15px;
  }

  .button-arrow {
    width: 25px;
    height: 25px;
  }
}


@media (max-width: 480px) {
    .initial-section {
      padding-left: 10px;
    }
  
    .text-container h1 {
      font-size: 45px;
    }
  
    .text-container h2 {
      font-size: 24px;
    }
  
    .text-container p {
      font-size: 16px;
    }
  
    .initial-button {
      width: 120px;
      height: 30px;
      gap: 10px;
    }
  
    .button-text {
      font-size: 12px;
    }
  
    .button-arrow {
      width: 20px;
      height: 20px;
    }
  }
